/* navbar */
body {
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
  background-color: rgb(73, 0, 209);
  color: rgb(214, 191, 255);
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  width: 30%;
  justify-content: space-between;
}

nav ul li a {
  color: inherit;
  text-decoration: none;
  font-size: 0.8em;
}

nav ul li a:hover {
  color: rgb(239, 230, 255);
}

.menu-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  nav ul {
    width: 40%;
  }
}

@media screen and (max-width: 576px) {
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(73, 0, 209);
    align-items: center;
    justify-content: space-evenly;
    z-index: -1;
    width: 100%;
    transform: translateX(100%);
    transition: all 1s;
  }

  nav ul.slide {
    transform: translateX(0);
  }

  body {
    overflow-x: hidden;
  }

  .menu-toggle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
  }

  .menu-toggle input {
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 28px;
    left: -10px;
    top: -3px;
    opacity: 0;
    z-index: 2;
  }

  .menu-toggle span {
    display: block;
    background-color: rgb(214, 191, 255);
    width: 28px;
    height: 3px;
    border-radius: 3px;
    transition: all 0.5s;
  }

  .menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
  }
  .menu-toggle span:last-child {
    transform-origin: 0 100%;
  }
  .menu-toggle input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
  }
  .menu-toggle input:checked ~ span:last-child {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
  }
  .menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
  }
}

/* content */
h4 {
  text-decoration: underline;
  text-align: center;
}

img {
  width: 65px;
  height: 65px;
  border-radius: 5%;
  border: 5px solid rgb(209, 194, 194);
  margin: 5px;
}

.galerry {
  display: flex;
  justify-content: center;
  gap: 5;
  flex-wrap: wrap;
}

.content {
  padding: 0 20px;
}

.text {
  display: flex;
}
